span {
  position: absolute;
  top: 5.47vw;
  left: 6.67vw;
  font-size: 15.07vw;
}
.telega_404 {
  position: absolute;
  height: 47.58vw;
  width: 39.32vw;
  top: 5.47vw;
  left: 52.29vw;
  background-image: url(../img/404_telega.png);
  background-size: cover;
}

p {
  position: absolute;
  top: 19.53vw;
  left: 6.67vw;
  font-size: 2.17vw;
}

.logo_404 {
  position: absolute;
  height: 10.78vw;
  width: 19.4vw;
  top: 36.71vw;
  left: 6.67vw;
  background-image: url(../img/logo_404.png);
  background-size: cover;
}



    /* адаптивы для планшетов */
@media screen and (min-width: 415px) and (max-width: 820px) {

      body {
        background-image: url(../img/bg_ipad.svg);
        background-size: cover;
        display: block;
        height: 100vh;
      }

      span {
        position: absolute;
        top: 8.47vw;
        left: 6.67vw;
        font-size: 22vw;
      }

      p {
        font-size: 36px;
        left: 6.25vw;
        top: 31.32vw;
      }

      .telega_404 {
        left: 12vw;
        top: 49vw;
        height: 83.08vw;
        width: 71.24vw;
      }

      .logo_404 {
        height: 18.75vw;
        width: 34.24vw;
        left: 61.16vw;
        top: 7vw;
      }
}

    /* адаптивы для планшетов */
@media screen and (min-width: 381px) and (max-width: 414px) {


      body {
        /* background-image: url("../img/bg_iphone_black.svg"); */
        background-image: url(../img/bg_iphone.svg);
        background-size: cover;
        display: block;
        height: 100vh;
      }

      span {
        left: 9.78vw;
        top: 16.67vw;
        font-size: 26.07vw;
      }

      p {
        font-size: 24px;
        left: 8.780000000000001vw;
        top: 44.69vw;
      }

      .telega_404 {
        width: 93.24vw;
        height: 112.08vw;
        left: 0;
        top: 71.98vw;
      }

      .logo_404 {
        top: 184.06vw;
        left: 26.72vw;
        width: 47.83vw;
        height: 26.09vw;
      }

}

@media screen and (min-width: 200px) and (max-width: 380px) {

      body {
        background-image: url("../img/mini_iphone.svg");
        background-size: cover;
        display: block;
        height: 100vh;
      }


            span {
              left: 7.78vw;
              top: 16.67vw;
              font-size: 26.07vw;
            }

            p {
              font-size: 5.7vw;
              left: 7.780000000000001vw;
              top: 44.69vw;
            }

            .telega_404 {
              width: 93.24vw;
              height: 112.08vw;
              left: 0;
              top: 66.98vw;
            }

            .logo_404 {
              top: 184.06vw;
              left: 26.72vw;
              width: 47.83vw;
              height: 26.09vw;
            }

    }
