/* это все верхняя плашка */

nav {
  display: block;
  position: fixed;
  width: 325px;
  height: 40px;
  background: white;
  border-radius: 5px;
  left: 68px;
  top: 10px;
  z-index: 111;
}

nav .menu {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-image: url("../img/menu.png");
  left: 16px;
  top: 10px;
}

.clock {
  width: 48px;
  height: 40px;
  background-color: #EB4F27;
  top: 10px;
  left: 346px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  z-index: 112;

  &::before {
    content: " ";
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #FEC708;
    z-index: 111;
  }
}

.hour {
  position: fixed;
}

  .hours {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
  }

    .hours::before {
      content: " ";
      position: fixed;
      width: 3px;
      height: 12px;
      border-radius: 6px;
      background: black;
      z-index: 111;
    }

.minute {
  position: fixed;
}

  .minutes {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}
    .minutes::before {
      content: " ";
      position: fixed;
      width: 3px;
      height: 15px;
      border-radius: 6px;
      background: white;
      z-index: 111;
}

.second {
  position: fixed;
}

  .seconds {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}
    .seconds::before {
      content: " ";
      position: fixed;
      width: 3px;
      height: 18px;
      border-radius: 6px;
      background: #FEC708;
      z-index: 111;
}
.navi {   text-decoration: none;
}

.navi p {
  position: relative;
  left: 14px;
  top: 11px;
  color: black;
}

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 40px;
  background: #D763F7;
  left: 274px;
  top: 10px;
  z-index: 112;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  background: #fff;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

/* это все верхняя плашка */

.close {
  position: fixed;
  width: 41px;
  height: 41px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-image: url("../img/close.svg");
  left: 16px;
  top: 10px;
  z-index: 113;
}

.white {
  position: fixed;
  width: 28.33vw;
  background-color: white;
  height: 100vh;
  border-radius: 19px;
  top: 0;
  left: 0;
  z-index: 113;
}

.afisha {
  position: fixed;
  width: 26.39vw;
  height: 6.25vw;
  border-radius: 12px;
  background-color: #C4D332;
  top: 9.17vw;
  left: 0.97vw;
  z-index: 113;
  text-decoration: none;
      display: flex;
}

.text {
  font-size: 36px;
  text-align: center;
  color: white;
  margin: auto;
}

.skazka {
  position: fixed;
  width: 26.39vw;
  height: 6.25vw;
  border-radius: 12px;
  background-color: #D763F7;
  top: 15.28vw;
  left: 0.97vw;
  z-index: 113;
  text-decoration: none;
  display: flex;
}

.merch {
  position: fixed;
  width: 26.39vw;
  height: 6.25vw;
  border-radius: 12px;
  background-color: #FEC708;
  top: 21.53vw;
  left: 0.97vw;
  z-index: 113;
  text-decoration: none;
  display: flex;
}

.rugs {
  position: fixed;
  width: 26.39vw;
  height: 6.25vw;
  border-radius: 12px;
  background-color: #C4D332;
  top: 27.78vw;
  left: 0.97vw;
  z-index: 113;
  text-decoration: none;
      display: flex;
}

.custom1 {
  position: fixed;
  width: 26.39vw;
  height: 6.25vw;
  border-radius: 12px;
  background-color: #EB4F27;
  top: 34.03vw;
  left: 0.97vw;
  z-index: 113;
  text-decoration: none;
      display: flex;
}
/* адаптивы для планшетов */
@media screen and (min-width: 441px) and (max-width: 820px) {



  .white {
    width: 51.33vw;
  }

  .afisha {
    width: 49.4vw;
    height: 12vw;
  }

  .skazka {
    width: 49.4vw;
    height: 12vw;
    top: 21vw;
  }

  .merch {
    width: 49.4vw;
    height: 12vw;
    top: 33vw;
  }

  .rugs {
    width: 49.4vw;
    height: 12vw;
    top: 45vw;
  }

  .custom1 {
    width: 49.4vw;
    height: 12vw;
    top: 57vw;
  }
}

/* адаптивы для планшетов */
@media screen and (min-width: 381px) and (max-width: 440px) {


  .white {
    width: 100vw;
  }
  .text {
    font-size: 30px;
  }
  .close {
    left: 2vw;
  }

  .afisha, .skazka, .merch, .rugs, .custom1 {
    left: 2vw;
    width: 96vw;
    height: 18vw;
  }
  .afisha { top: 16vw;     display: flex;
  }
  .skazka { top: 34vw;     display: flex;
  }
  .merch { top: 52vw;     display: flex;
  }
  .rugs { top: 70vw;     display: flex;
  }
  .custom1 { top: 88vw;    display: flex;
  }
}

@media screen and (min-width: 200px) and (max-width: 380px) {

  nav {
    width: 300px;
    left: 60px;
  }

        p {
          font-size: 16px;
        }

        .navi p {
          left: 7px;
          top: 11px;
          font-size: 17px;
        }

        .container {
          left: 244px;
        }

        .clock {
          left: 316px;
        }
        .nav.menu {
          left: 12px;
        }
  .text {
    font-size: 30px;
    margin: auto;
  }

  .close {
    left: 2vw;
  }

  .afisha, .skazka, .merch, .rugs, .custom1 {
    left: 2vw;
    width: 96vw;
    height: 18vw;
  }
  .white {
    width: 100vw;
  }

  .afisha { top: 16vw; display: flex;
  }
  .skazka { top: 34vw;display: flex;
  }
  .merch { top: 52vw;display: flex;
  }
  .rugs { top: 70vw;display: flex;
  }
  .custom1 { top: 88vw;display: flex;
  }
}
